
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %} - the recitrix</title>
    <link rel='stylesheet' href='{% static "home/style.css" %}'>
    <link rel='stylesheet' href='{% static "home/nav.css" %}'>

    {% block stylesheets %}{% endblock stylesheets %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        {% include 'home/nav_bar.html' %}
    </header>
    <messages-alert>{% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
            {{ message }}
        </li>
    {% endfor %}
    </ul>
    {% endif %}
</messages-alert>

    {% block content %}
    {% endblock %}

    <footer>
        {% include 'home/footer.html' %}
    </footer>

</body>
</html>
