<nav>
    <button><a href="{% url 'latest_recipes' %}">h0m3</a></button>
    <button><a href="{% url 'meal_recipes' category='breakfast' %}">br3@kf@s+</a></button>
    <button><a href="{% url 'meal_recipes' category='lunch' %}">|_unch</a></button>
    <button><a href="{% url 'meal_recipes' category='dinner' %}">d|nn3r</a></button>
    <button><a href="{% url 'meal_recipes' category='snacks' %}">sn@cks</a></button>
    {% if user.is_authenticated %}
        {{ user.username }}
        <button><a href='{% url 'logout' %}'>|_0g0u+</a></button>
        <button><a href='{% url 'add_recipe' %}'>@dd n3w r3c|p3</a></button>
    {% else %}
        <button><a href='{% url 'login' %}'>|_0g|n</a></button>
    {% endif %}
</nav>
