{% extends 'home/base.html' %}
{% load static %}

{% block content %}
<form method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}
    <p class='recipe-para'>recipe</p>
    {{ recipe_form.as_p }}
    <p class='recipe-para'>meal categories</p>
    {{ cat_form.as_p }}
    <p class='recipe-para'>ingredient</p>
    {{ ing_form.as_p }}
    <input type='submit' value='submit'>
</form>
{% endblock %}
