{% extends 'home/base.html' %}
{% load static %}
{% block title %}add ingredient to {{ recipe.name }}{% endblock title %}
{% block stylesheets %}<link rel='stylesheet' href='{% static "home/add_ing.css" %}'>{% endblock %}

{% block content %}
{{ recipe.name }}
<form method='POST'>
    {% csrf_token %}
{{ form.as_p }}
<input type='submit' value='submit'>
</form>
<a href="{% url 'recipe' recipe.id %}">go to recipe</a>
{% endblock content %}
