{% extends 'home/base.html' %}
{% load static %}
{% block title %}edit recipe{% endblock title %}
{% block stylesheets %}<link rel='stylesheet' href='{% static "home/add_ing.css" %}'>{% endblock %}

{% block content %}
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
            {{ message }}
        </li>
    {% endfor %}
    </ul>
    {% endif %}
<form method="POST">
    {% csrf_token %}
    {{ recipe_form.as_p }}
    <input type="submit" value="Submit">
</form>
{% endblock content %}