{% extends 'home/base.html' %}
{% load static %}
{% block title %}{{ meal }}{% endblock %}
{% block stylesheets %}<link rel='stylesheet' href='{% static "home/card.css" %}'>{% endblock %}

{% block content %}
<h1 class="latest-recipes-title">>_|{{ meal }}|_<</h1>

<div class="card-container">
    {% for recipe in recipes %}
    <div class="card-recipe">
        <a href="{% url 'recipe' recipe.id %}"><h3 class="recipe-name">{{ recipe.name }}</h3></a>
        {% if recipe.images %}
            <img src='{{ recipe.images.url }}' class="recipe-images">
        {% else %}
            <img src='https://placehold.co/250x250'> 
        {% endif %}
        <p class="recipe-para">try this recipe for <br>
        {% if recipe.recipe_categories.for_breakfast %}<span><span class="blink-me">|></span> breakfast<br />{% endif %}</span>
        {% if recipe.recipe_categories.for_lunch %}<span><span class="blink-me">|></span> lunch<br />{% endif %}</span>
        {% if recipe.recipe_categories.for_dinner %}<span><span class="blink-me">|></span> dinner<br />{% endif %}</span>
        {% if recipe.recipe_categories.for_snack %}<span><span class="blink-me">|></span> a snack<br />{% endif %}</span>
            </p>
        <p class="recipe-para">rating: {{ recipe.get_average_rating|floatformat }} / 5.0</p>
        <p class="recipe-para">submitted by {{ recipe.profile }}</p>
    </div>
    {% endfor %}
</div>
{% endblock content %}
