{% extends 'home/base.html' %}
{% load static %}
{% block title %}Breakfast Recipes{% endblock %}
{% block stylesheets %}<link rel='stylesheet' href="{% static 'home/meals.css'%}">{% endblock %}

{% block content %}

{% if meals %}
    <h1>{{ meal }} foods</h1>
    {% for recipe in meals %}
        {% if recipe.images %}
            <img src="{{ recipe.images.url }}" alt="{{ recipe.name }}">
        {% else %}
            {{ recipe.name }}
        {% endif %}
    {% endfor %}
{% else %}
<h1>there are no {{ meal }} recipes currently</h1>
{% endif %}
{% endblock %}
