{% extends 'home/base.html' %}
{% load static %}
{% block title %}{{ recipe.name }}{% endblock %}
{% block stylesheets %}<link rel='stylesheet' href='{% static "home/card.css" %}'><link rel='stylesheet' href='{% static "home/recipe.css" %}'>{% endblock %}

{% block content %}
<div class="recipe-container">
    <div class="left-column"></div>

    <div class="center-column">
        <h1 class="recipe-name">{{ recipe.name }}</h1>
        <br/>
        <p class='recipe-para'>rating: {{ recipe.get_average_rating|floatformat }} / 5.0</p>
        {% if recipe.images %}
            <img src='{{ recipe.images.url }}' class="recipe-images">
        {% endif %}
        <h4 class="recipe-name">description</h4>
        <p class="recipe-para">{{ recipe.description|linebreaksbr }}</p>
        <h4 class="recipe-name">cooking instructions</h4>
        <p class="recipe-para">{{ recipe.cooking_instructions|linebreaksbr }}

        <table class="ingredients-table">
            <h4 class='recipe-name'>ingredients</p>
            <tr>
                <th>ingredient</th>
                <th>calories per serving</th>
                <th>servings</th>
                <th>edit</th>
                <th>delete</th>
            </tr>
        {% for ing in recipe.ingredients.all %}
            <tr>
                <td>{{ ing.ingredient_name }}</td>
                <td>{{ ing.calories_per_serving}}</td>
                <td>{{ ing.servings }}</td>
                <td><a href="{% url 'edit_ingredient' recipe.id ing.id %}">|>x<|</a></td>
                <td><form method='POST' action='{% url 'delete_ingredient' recipe.id ing.id %}'>
                    {% csrf_token %}
                    <input type='submit' value='|<x>|'>
                </form></td>
            </tr>
        {% endfor %}
        </table>
        
        <p class="recipe-para">servings: {{ recipe.total_servings }} | total calories: {{ recipe.get_total_calories }}</p>        
        <p class="recipe-para">>>><a href='{% url 'edit_recipe' recipe.id %}'> edit recipe</a> <<< >>> <a href="{% url 'add_ingredient' recipe.id %}">add ingredient</a> <<< >>> <a href="{% url 'edit_category' recipe.id %}">edit meal category </a><<<</p>
        <form method='POST' action='{% url 'delete_recipe' recipe.id %}'>
            {% csrf_token %}
            <input type='submit' value='x|x delete recipe x|x'>
        </form>
        <form method='POST' action='{% url 'add_recipe_rating' recipe.id %}'>
            {% csrf_token %}
            {{ rating_form.as_p }}
            <input type="submit" value='add rating'>
        </form>
        
        

        
        




</div>



    <div class="right-column"></div>
</div>
{% endblock %}
