{% extends 'home/base.html' %}
{% load static %}
{% block title %}Login{% endblock %}
{% block stylesheets %}<link rel='stylesheet' href="{% static 'home/login.css' %}">{% endblock %}



{% block content %}
<h2>Log In</h2>
<form method='post'>
    {% csrf_token %}
    {{ form.as_p }}
    <button type='submit'>Log in</button>
    <p><a href={% url 'register' %}>register</a></p>
</form>

{% endblock content %}
