{% extends 'home/base.html' %}
{% load static %}
{% block title %}Register{% endblock %}
{% block stylesheets %}<link rel='stylesheet' href="{% static 'home/register.css' %}">{% endblock %}

{% block content %}
<div>
    <h1>Register</h1>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
            {{ message }}
        </li>
    {% endfor %}
    </ul>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        {{ register_form.as_p }}
        <button type='submit'>register</button>
    </form>
</div>
<p><a href="{% url 'login' %}">login</a></p>
{% endblock %}
