.latest-recipes-title {
    text-align: center;
}

.card-container {
    margin-top: 0;
    margin-left: .5rem;
    margin-right: .5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: space-between;
    justify-content: space-evenly;
}

.card-recipe {
    margin-top: 2.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border-top: dashed var(--green3) 1px;
    border-left: dashed var(--green3) 1px;
    width: 375px;
    height: 500px;
    background-position: center;
    background-size: cover;
    align-items: center;
    box-shadow: 2px 4px 5px var(--green6);
    overflow: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.card-recipe::-webkit-scrollbar {
    display: none;
}


.recipe-para {
    padding: .3rem;
    width: 100%;
    text-align: justify;
    box-shadow: 1px 1px var(--green1);
}

.recipe-name {
    padding: .3rem;
    width: 100%;
    text-align: center;
    box-shadow: -1px 0px var(--green1);
}

.card-recipe > img {
    width: 250px;
    max-height: 250px;
    background-position: center;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: var(--green1)
}

h4.recipe-name {
    color: var(--green2)
}

.recipe-images {
    width: 500px;
    height: 500px;
    background-position: center;
    object-fit: cover;
}

.blink-me {
    animation: blinker 1s steps(1, end) 10;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}
