input {
    background-color: black;
    border: 0;
    box-shadow: -1px 0px 1px var(--green1);
    color: var(--green1);
    outline: none;
    margin-right: 3em;
}

h2 {
    text-align: center;
    align-items: center;
}

form {
    text-align: center;
    display: flex;
    justify-content: center;
}

button[type="submit"] {
    color: var(--green6);
    text-align: end;
    border-right: 1px dashed var(--green3);
    text-decoration: underline;
    text-decoration-style: dashed;
    font-family: inherit;
}

a {
    text-decoration: none;
    color: var(--green6);
    border-right: 1px dashed var(--green3);
}
