header {
    display: flex;
    background: rgb(67,199,40);
    background: linear-gradient(0deg, rgba(67,199,40,1) 0%, rgba(0,0,0,0) 30%);
    position: sticky;
}

nav {
    display: flex;
    flex-wrap: wrap;
    margin-top: .5rem;
    padding: 1rem;
}

button {
    color: black;
    justify-content: space-evenly;
    border: none;
    margin-right: 4rem;
    background-color: var(--transparent);
}

nav > button > a {
    text-decoration: none;
    color: var(--green1);
}
