.recipe-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;

}

.recipe-name {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ingredients-table {
    margin: 0 auto;
}

.ingredients-table > table, tr, th, td {
    border: dashed var(--green4) 1px;
    border-collapse: collapse;
    padding: .5rem;
    text-align: center;
}

input[type="submit"] {
    background-color: black;
    color: var(--green1);
    border-right: 1px dashed var(--green3);
    text-decoration: underline;
    text-decoration-style: dashed;
    font-family: inherit;
    border: none;
}