:root {
    font-family: 'IBM Plex Mono', monospace;
    --green1: #cefbe4;
    --green2: #81ec72;
    --green3: #5cd646;
    --green4: #54d13c;
    --green5: #4ccc32;
    --green6: #43c728;
    --transparent: (0,0,0,0);
    background-color: black;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    color: var(--green6);
}

footer {
    margin-top: 5rem;
    text-align: center;
}
